



body{
   margin: 0;
    padding: 0;

    background-color:#c5e2d3  ;
      box-sizing: border-box;
    margin: 0%;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:#16423C;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}
h1, li ,button {
    font-family:"Oranienbaum", serif;
    font-weight: 500px;
    font-style: normal;
     color:#E9EFEC;
     margin: 10px 70px;
     text-decoration: none;
     font-size: 50px;
}

 li{
    display: inline-block;
    margin-left:  auto;
}

button:hover{
color:#6A9C89 ;
}
h1{
    cursor: pointer;
    margin-right: auto;
}

button:hover{
    background-color:#457060}
div img{
    width: 100%px;
}
 body{
    display: grid;
    grid-template-columns: 1fr 1fr;
   grid-template-areas: "hd hd hd hd hd hd"
   "mn mn mn mn mn mn"
   "ft ft ft ft ft ft"
   "fot fot fot fot fot fot ";
   gap: 50px;
   width: 100%;
}
img{
    border: 9px solid #ebf7f0 ;
    border-radius: 20px;
    width: 100%;
}
header{
    grid-area: hd;
}
.one{
    grid-area: mn;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  
    color: #0d301e;
    margin: 20px 40px;
border-bottom: 2px solid #d8e7e2;
}



.two{
    grid-area: ft;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  
    color: #0d301e;
    margin: 10px 40px;
   
    
    border-bottom:1px solid#E9EFEC ;
}

.article1{
    line-height: 1.5;
    font-size: 20px;
  
}
.article2{

    line-height: 1.5;
    font-size: 20px;

}
footer{
    grid-area: fot;
  
    color: #16423C;
    justify-content: start;
    margin-left:80px;
    margin-bottom: 50px;
    ;}
   @media screen and ( max-width: 980px ) {
   header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
  .one{
    display: block;
  }
  .two{
    display: block;
  }
  img{
    border: 3px solid #ebf7f0;
  }
  
}
@media screen and (max-width:590px) {  header{
   display:flex;
   
   flex-direction: column;
   
    
   }
   .nav_bar{
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
   }

   
  .one{
    display: block;
    margin: 0% 20px;
  }
    
  .two{
    display: block;
    margin:0% 20px ;
  }
  img{
    border: 3px solid #ebf7f0;
  }
}
